package uhppoted

type message = struct {
    Request  []byte
    Response [][]byte
}

var Messages = []message{
{{ range $func := . }}    // {{ $func.Name }}{{ range $test := $func.Tests }}
    {
        Request: []byte{
{{ hex $test.Request }}
        },
        Response: [][]byte{
{{ range $reply := $test.Replies }}            []byte{
{{ hex $reply.Message }}
            },
{{ end }}
        },
    },

{{ end -}}
{{ end }}
}
